html {
	background: #000;
	color: #afa;
	font-family: monospace;
}

img.logo {
	max-width: 200px;
	float: left;
	margin-right: 1em;
}

header {
	position: fixed;
	top: 1em;
	right: 1em;
}

div.blurb {
	float: left;
	width: 50%;
}


div.controls {
	float: left;
	clear: left;
	margin: 3em;
}

a {
	color: #fa0;
}

pre {
	max-width: 100%;
	
}

div.rant {
	font-size: 0.9em;
	font-style: italic;

}

/*
 CSS for Pretty HTML
 */

p.text {
	/* this affects all html text, use wisely! */
	font-size: 1em;
	/* transition: transform 0.3s ease-in-out; */
}

p.text:hover {
	background: #131;
	/* transform: scale(1.01); */
}


/* this is ugly
p.text:hover:before {
    content: "Good!Crap!";
    clear: none;
    height: 1em;
    width: 5em;
    display: inline-block;
	border: 1px outset #afa;
	border-radius: 7px;
	padding: 0 1em;
	background: #373;
	margin: 0 2em 0 -3em;
}
*/



p.text.scene {
	color: #fa0;
	margin: 2em 0 1em 0;
	font-size: 1.2em;
	font-weight: bold;
}

p.speech {
	/* color: #ff0;*/
}

p.speech .who {
	color: #aaf; 
}

p.title, p.endtitle {
	color: #fff;
	font-size: 2em;
	font-weight: bold;
}

p.glasses {
	opacity: 0.666;
	font-size: 0.666em;
}





header ul {
	float: right;
}

header ul li {
	list-style-type: none;
}

.nav li div {
	clear: both;
}

.shameless-promotion {
	font-size: 0.8em;
	font-style: italic;
	text-align: right;
}

.shameless-promotion li {
	margin: 1em;
}

a.button {
	border: 1px outset #070;
	border-radius: 5px;
	padding: 1.5em;
	font-size: 1.2em;
	margin-bottom: 1em;
	clear: both;
	float: right;
}

div.output {
	clear: both;
	width: 66%;
	margin: 0 auto;
}

div.output:before {
	content: "";
    display: block;
    float: left;
    height: 0px;
    clear: both;
    width: 100%;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	to {
		transform: rotate(360deg);
	}
}

div.output svg.loading {
	max-width: 48px;
	max-height: 48px;
	margin: 0 auto;
	animation: 1s spin infinite linear ;
	display: none;
	position: absolute;
	transition: opacity 0.3s;
}

div.output svg.loading.visible {
	display: block;
}

div.toolbox {
	border: 1px outset #373;
	border-radius: 7px;
	padding: 0.3em;
	float: left;
	margin-right: 1em;
}

div.toolbox h3 {
	background: #131;
	margin: 0;
	padding: 0.7em 0.3em;
}

